/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    :root{
      --font-18: 16px;
      --font-17: 15px;
      --font-15: 14px;
      --font-14: 13px;
      --font-13: 12px;
      --font-12: 11px;
  
    }
    .navbar > .navbar-nav{
      display: none !important;
    }
    .navbar-brand img{
      height: 25px;
    }
    .search-zoom .search-btn-group{
      width: 70px;
    }
    .product .size-view .sizes div{
      margin: 0px;
  }
  .accordion-footer-menu span{
    display: block;
  }
  .filter-select{
    width: 150px !important;
  }
  .res-btn{
    width: 100%;
  }
  

  }
   
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) {
    .navbar > .navbar-nav{
      display: none !important;
    }
    .navbar{
      padding: 0 5% !important;
    }
    .navbar-brand img{
      height: 30px;
    }
    .shop-products{
      width: 90%;
      margin: 0 auto !important;
    }
    .res-btn{
      width: 100%;
    }
  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {
    .navbar > .navbar-nav{
      display: none !important;
    }
    .navbar{
      padding: 0 10% !important;
    }
    .res-btn{
      width: 70%;
    }
  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar{
      padding: 0 5% !important;
    }
    .shop-sidebar{
      position: relative !important;
      z-index: 1050 !important;
      left: 0 !important;
    }
    .res-btn{
      width: 50%;
    }
  }
  
  /* Extra Large devices (desktops, 992px and up)*/
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .navbar{
      padding: 0 10% !important;
    }
    .shop-sidebar{
      position: relative !important;
      z-index: 1050 !important;
      left: 0 !important;
    }
    .res-btn{
      width: 40%;
    }
  }
  
  /* Extra Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1400px) {
    .navbar{
      padding: 0 10% !important;
    }
    .shop-sidebar{
      position: relative !important;
      z-index: 1050 !important;
      left: 0 !important;
    }
    .res-btn{
      width: 30%;
    }
  }