@import url(fonts.css);

*{
    margin: 0;
    padding: 0;
    font-family: Halvatica;
    font-size: 16px;
}
html, body{
    /* background-color: var(--white); */
    overflow-x: hidden;
}


:root{
    /* font sizes  */
    --font-18: 18px;
    --font-17: 17px;
    --font-15: 15px;
    --font-14: 14px;
    --font-13: 13px;
    --font-12: 12px;

    /* colors  */
    --black: rgb(0, 0, 0);
    --white: rgb(247, 247, 247);
}

.font-18{
    font-size: var(--font-18);
}
.font-17{
    font-size: var(--font-17);
}
.font-15{
    font-size: var(--font-15);
}
.font-14{
    font-size: var(--font-14);
}
.font-13{
    font-size: var(--font-13);
}
.font-12{
    font-size: var(--font-12);
}
.bold-9{
    font-weight: 900;
}
.bold-7{
    font-weight: 700;
}
.bold-5{
    font-weight: 500;
}
.bold-3{
    font-weight: 300;
}
.ls-2{
    letter-spacing: 2px;
}
.bg-black{
    background: var(--black);
}
.align-item-center{
    align-items: center !important;
}
.align-item-start{
    align-items: flex-start;
}
.align-item-between{
    align-items: stretch;
}

.fancybox__container{
    z-index: 3050;
}

.btn-hover-warning:hover{
    background-color: #ffc107;
    border-color: #ffc107;
    transition: 0.3s;
    color: black;
}
.btn-hover-dark:hover{
    background-color: black;
    border-color: black;
    transition: 0.3s;
    color: white;
}
.modal{
    z-index: 2020;
}
.main-wapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Click Animation  */
.click-ani{
    position: relative;
    border-radius: 50px;
    color: white;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  }
  
  .click-ani:hover {
    transition-duration: 0.1s;
  }
  
  .click-ani:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .click-ani:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .click-ani:active {
    top: 1px;
  }
  
  
/* Click Animation  */

.topbar{
    width: 100%;
    height: auto;
    background-color: #b1b1b1;
    text-align: center;
    font-size: var(--font-14);
    font-family: Halvatica;
    font-weight: bold;
}


/* header start  */
.navbar-section{
    height: 60px;
}
.navbar{
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1070;
    animation: slidedown 0.3s ;
    transition: 0.5s;
}
@keyframes slidedown {
    0%{
        top: -60px;
    }100%{
        top: 0;
    }
}
.navbar-brand img{
    height: 40px;
}
.navbar-nav .nav-item .nav-link{
    position: relative;
}
.navbar .navbar-nav > .nav-item > .nav-link::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: rgb(255, 196, 0);
    transition: 0.4s ease-in-out;
}
.navbar .navbar-nav > .nav-item > .nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: rgb(255, 196, 0);
    transition: 0.4s ease-in-out;
}
.navbar .navbar-nav .nav-item .nav-link:hover:before{
    width: 100%;
}   
.navbar .navbar-nav .nav-item .nav-link:hover:after{
    width: 100%;
}   

.dpdown{
    position: relative;
    /* z-index: 9999; */
}
.dpdown .dropdown-menu{
    position: absolute;
    left: 0;
    display: none;
    /* z-index: 9999; */
    border: none;
    width: 200px;
    background: transparent;
}
.dpdown .dropdown-menu .dropdown-menu-inner{
    border-radius: 0;
    padding: 0;
    padding-top: 10px;
    background: white;
    width: 100%;
    clip-path: polygon(15% 0, 20% 10px, 100% 10px, 100% 100%, 0 100%, 0 10px, 10% 10px);
}
.dpdown .dropdown-menu li{
    list-style: none;
    margin: 0 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(124, 124, 124, 0.267);
}
.dpdown .dropdown-menu li:last-child{
    border-bottom: 1px solid transparent;
}
.dpdown .dropdown-menu li a{
    text-decoration: none;
    color: rgb(80, 80, 80);
    padding: 10px;
}
.dpdown .dropdown-menu li a:hover{
    color: gray;
}
.dpdown:hover .dropdown-menu{
    display: block;
    animation: downtotop 0.2s;
}
@keyframes downtotop {
    0%{
        margin-top: 20px;
    }
    100%{
        margin-top: 0;
    }
}

.icon-cart, .icon-search, .icon-signin{
    cursor: pointer;
}
.icon-signin svg, .icon-search svg, .sm-icon-search svg{
    color: white;
    fill: white;
    width: 20px;
}
.icon-search.icon-search-dark svg{
    color: black;
    fill: black;
}
.icon-cart svg{
    color: white;
    fill: white;
    width: 25px;
}

    /* search  */
    .search-zoom{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background: white;
        height: 400px;
        max-height: 400px;
        overflow: auto;
        z-index: 3000;
        display: none;
    }
    .search-zoom::-webkit-scrollbar{
        width: 0;
        background-color: transparent;
    }
    .search-zoom .search-input{
        width: 100%;
        text-align: center;
        height: 80px;
        outline: none;
        border: none;
        background: rgb(223, 223, 223);
        animation: zoomIn 0.4s ease;
    }
    .search-zoom .search-btn-group{
        width: 200px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    @keyframes zoomIn {
        from {
          opacity: 0;
          transform: scale3d(0.3, 0.3, 0.3);
        }
      
        50% {
          opacity: 1;
        }
      }
      
      .zoomIn {
        animation-name: zoomIn;
      }
    /* search  */

    /* Side bar  */
        .overlay{
            height: 100%;
            width: 100%;
            position: fixed; 
            top: 0;
            display: none;
            z-index: 2090;  
            background-color: #3c3c3c63; 
        }
        .overlay-search{
            height: 100%;
            width: 100%;
            position: fixed; 
            top: 0;
            display: none;
            z-index: 1060;  
            background-color: #3c3c3c63; 
        }
        .sidebar{
            position: fixed;
            top: 0;
            right: -400px;
            background: white;
            border: 1px solid rgba(156, 156, 156, 0.301);
            z-index: 3000;
            width: 400px;
            max-width: 90%;
            height: 100vh;
            max-height: 100vh;
            overflow: auto;
            padding: 20px;
            transition: 0.4s;
        }
        .sidebar::-webkit-scrollbar{
            background-color: transparent;
            width: 0;
        }
        .cart-product div.image{
            height: auto;
            min-width: 80px;
            overflow: hidden;
        }
        .cart-product div{
            height: auto;
            min-width: auto;
        }
        .cart-product div .name{
            min-width: 100px;
        }
        .cart-product .image img{
            height: auto;
            width: 80px;
        }
        .register-form div input{
            border: 1px solid rgb(179, 178, 178);
            font-size: 12px;
            height: 45px;
            outline: none;
            padding: 10px;
        }
        #signin form div input{
            border: 1px solid rgb(179, 178, 178);
            font-size: 12px;
            height: 45px;
            outline: none;
            padding: 10px;
        }
        .nav-sidebar{
            position: fixed;
            top: 0;
            left: -400px;
            background: rgb(22, 22, 22);
            border: 1px solid rgba(156, 156, 156, 0.301);
            z-index: 3000;
            width: 400px;
            max-width: 90%;
            overflow: auto;
            height: 100vh;
            max-height: 100vh;
            padding: 20px;
            transition: 0.4s;
        }
        .nav-sidebar::-webkit-scrollbar{
            background-color: transparent;
            width: 0;
        }
        .nav-sidebar > .navbar-nav{
            display: block !important;
        }
        
        .nav-sidebar ul li{
            padding: 7px;
            background: rgb(22, 22, 22);
            border-bottom: 1px solid rgba(235, 235, 235, 0.164);
        }
        .nav-sidebar ul li a:hover{
            background: rgb(49, 49, 49);
        }
        .nav-sidebar ul li a{
            padding: 7px;
        }
        .nav-sidebar > ul > li > a.active {
            background: rgb(49, 49, 49);
        }
        .nav-sidebar > ul > li > a > i{
            transform: rotate(-90deg);
            transition: 0.3s;
        }
        .nav-sidebar > ul > li > a.active > i{
            transform: rotate(0deg);
        }
        .nav-sidebar > ul > li > ul{
            padding-left: 1rem;
            padding: 0;
            display: none;

        }
        .nav-sidebar > ul > li > ul > li{
            border-bottom: none;
        }
        .nav-sidebar > ul > li > ul > li:hover{
            background: rgb(31, 31, 31);
        }
    /* Side bar  */
/* header end  */
/* section title   */
.liner-continer{
    display: flex;
    align-items: center;
    flex-direction: row;
    border-color: #00000048;
}
.liner-continer::before {
    content: "";
    display: block;
    flex: 1 1 auto;
    border-bottom: 1px solid;
    border-color: inherit;
    margin-right: 20px;
}
.liner-continer::after {
    content: "";
    display: block;
    flex: 1 1 auto;
    border-bottom: 1px solid;
    border-color: inherit;
    margin-left: 20px;
}
/* section title */


/* footer section  */
footer{
    background: var(--black);
    padding: 1.5rem;
  }
  /* footer .row div img{
    filter: brightness( 0% ) contrast( 0% ) saturate( 102% ) blur( 0px ) hue-rotate( 0deg );
  } */
  .accordion .ac-btn.active { 
    color: #7a7a7a !important;
  }
  .accordion .ac-btn.active span i{ 
    transform: rotate(180deg);
    
  }
  .accordion .ac-btn span i{ 
    transform: rotate(0);
    transition: 0.5s;   
  }
  .tab-content2{
    display: none;
  }
  footer .row div p{
    font-size: 15px;
    font-family: hind-reg;
    margin-top: 20px;
    color: gray;
  }
  .footer-menu-col ul{
    padding: 0;
  }
  .footer-menu-col ul li{
    list-style: none;
    padding: 8px;
  }
  .footer-menu-col > a{
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
  } 
  .footer-menu-col > a > b > span{
    font-size: 12px;
    text-decoration: none;
    padding-left: 13px;
  } 
  .footer-menu-col > a > b > span.arrow{
    display: none;
  } 
  .footer-menu-col > a > b{
    margin: 0;
    font-size: 12px;
  }
  .footer-menu-col ul li a{
    text-decoration: none;
    color: rgb(145, 145, 145);
    transition: 0.2s;
    font-size: 13px;
    position: relative;
    transition: 0.4s;
    padding: 5px;
  }
  .footer-menu-col ul li a::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.685);
    transition: 0.3s;
  }
  .footer-menu-col ul li a:hover{
    color: var(--main-color);
    transition: 0.2s;
  }
  .footer-menu-col ul li a:hover::before{
    width: 100%;
  }
  .accordion-footer-menu{
    cursor: pointer;
  }
  .accordion-footer-menu span{
    display: none;
    transform: rotate(-90deg);
    transition: 0.4s;
  }
  .accordion-footer-menu.active span{
    transform: rotate(0deg);
  }
  footer .row div form input{
    border: none;
    background: rgb(207, 207, 207);
    padding: 5px;
  }
  footer .row div form input:focus{
    border: none;
    outline: none;
  }
  .social-icons{
    display: flex;
    justify-content: start;
  }
  .social-icons a{
    border-radius: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  } 
  /* footer section  */